@use "../../../styles/vars";

.footer {
  @include vars.flexbox();
  @include vars.flex-direction(column);
  @include vars.align-items(center);
  background-color: vars.$red;
  color: vars.$white;
  height: 61vh;
  .emailContainer {
    @include vars.flexbox();
    @include vars.flex-direction(column);
    @include vars.align-items(center);
    @include vars.justify-content(center);
    height: 100%;
    padding-top: 70px;
    .copy {
      margin-bottom: 0;
    }
    .email {
      font-weight: bold;
      font-size: 28pt;
      margin-top: 0;
    }
  }
  .footerBar {
    @include vars.flexbox();
    @include vars.justify-content(space-between);
    @include vars.align-items(center);
    font-size: 12pt !important;
    text-transform: uppercase;
    width: 100%;
    padding: 45px 60px;
    .tidbit {
      @include vars.flexbox();
      .iconContainer {
        height: 18px;
        margin-right: 5px;
        width: 20px;
        svg path {
          fill: vars.$white !important;
        }
      }
    }
    .footerNav {
      @include vars.flexbox();
      @include vars.align-items(center);
      @include vars.justify-content(center);
      width: vars.$five-twelfths;
      .navButton {
        @include vars.flexbox();
        @include vars.align-items(center);
        @include vars.justify-content(center);
        background-color: transparent;
        overflow: hidden;
        transition: background-color 0.15s;
        a {
          color: vars.$white;
          height: 100%;
          padding: 8px 20px;
          text-transform: uppercase;
          text-align: center;
          transition: color 0.15s linear;
          width: 100%;
          span {
            font-size: 12pt !important;
          }
        }
        &:hover {
          a {
            color: vars.$black;
          }
        }
      }
    }
  }
}
