@use "../../styles/vars";

.projectsSection {
  @include vars.flexbox();
  @include vars.flex-direction(column);
  .headerWrapper {
    margin-bottom: 30px;
    overflow: hidden;
    padding-left: vars.$one-twenty-fourth;
    h1 {
      @include vars.fade-up();
    }
  }
  .projectsContainer {
    @include vars.flexbox();
    @include vars.align-items(center);
    height: 75vh;
    width: 100vw;
    .projectCard {
      transition: all 0.25s linear;
      transform: translateX(100%);
      opacity: 0;
      height: 75vh;
      width: 33.33%;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
      &:hover {
        cursor: pointer;
        height: 78vh;
        width: 36%;
      }
    }
  }
  .button {
    align-self: center;
    opacity: 0;
    margin: 45px vars.$one-twenty-fourth 0 0;
  }
}
