@use "../../styles/vars";

.projectsSection {
  .headerWrapper {
    margin-bottom: 30px;
    padding-left: vars.$one-twenty-fourth;
  }
  .projectsContainer {
    @include vars.flexbox();
    @include vars.align-items(center);
    height: 80vh;
    width: 100vw;
    .projectCard {
      transition: all 0.25s linear;
      height: 80vh;
      width: 33.33%;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
      &:hover {
        cursor: pointer;
        height: 85vh;
        width: 36%;
      }
    }
  }
}
