@use "../../styles/vars";

.serviceBar {
  @include vars.flexbox();
  @include vars.justify-content(center);
  @include vars.align-items(center);
  border: 1px solid vars.$red;
  width: max-content;
  .serviceWrapper {
    @include vars.flexbox();
    @include vars.flex-flow(row);
    @include vars.align-items(center);
    @include vars.justify-content(center);
    padding: 20px 0;
    overflow: hidden;

    h2 {
      color: vars.$red;
      white-space: nowrap;
      margin: 0 15px;
    }
    .icon {
      height: 250px;
      width: 250px;
      padding: 0 15px;
      @include vars.x-small {
        height: 130px;
      }
      span,
      img {
        height: 100% !important;
        object-fit: contain !important;
        width: 100% !important;
      }
      > div {
        height: 100%;
        svg {
          height: 100px;
        }
      }
    }
  }
}
