@use "../../styles/vars";

.hero {
  .heroContentsContainer {
    @include vars.flexbox();
    @include vars.justify-content(center);
    @include vars.align-items(center);
    min-height: calc(100vh - 248px);
    width: vars.$full;
    .copyContainer {
      @include vars.flexbox();
      @include vars.flex-direction(column);
      @include vars.justify-content(center);
      @include vars.align-items(center);
      text-align: center;
      width: vars.$seven-twelfths;
      .headlineContainer {
        @include vars.flexbox();
        overflow: hidden;
        .letter {
          transform: translateY(100%);
          opacity: 0;
          &.space {
            width: 20px;
          }
        }
      }
      .copy {
        opacity: 0;
      }
    }
    svg {
      height: 30vh;
      width: 100%;
    }
  }
}
