@use "../../styles/vars";

.aboutSection {
  @include vars.grid-wrap;
  .headerWrapper {
    grid-row: 1;
    grid-column: 1 / 8;
    margin-bottom: 90px;
    h1 {
      @include vars.fade-up();
    }
  }
  .copyButtonContainer {
    grid-row: 2;
    grid-column: 5/13;
    .copyBlock {
      opacity: 0;
      transform: translateX(20%);
    }
    .button {
      margin-top: 45px;
      opacity: 0;
    }
  }
  .iconContainer {
    @include vars.flexbox();
    @include vars.align-items(flex-end);
    grid-row: 2;
    grid-column: 1/2;
    height: 100%;
    opacity: 0;
    padding-bottom: 60px;
    transform: translateX(-100%);
    width: 60px;
  }
}
