@use "../../../styles/vars";

.bioBlock {
  @include vars.flexbox();
  @include vars.flex-direction(row-reverse);
  border-top: 1px solid vars.$red;
  min-height: calc(100vh - 92.5px);
  &.alternate {
    @include vars.flex-direction(row);
  }
  &.last {
    border-bottom: 1px solid vars.$red;
  }
  .textContainer {
    @include vars.flexbox();
    @include vars.flex-direction(column);
    @include vars.justify-content(center);
    width: vars.$six-twelfths;
    p {
      width: vars.$four-twelfths;
    }
  }
  .imageContainer {
    width: vars.$six-twelfths;
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
