@use "../../../styles/vars";

.bioBlockWrapper {
  @include vars.flexbox();
  @include vars.flex-direction(column);
  .borderTop {
    background-color: vars.$red;
    height: 1px;
    width: 0vw;
  }
  .bioBlock {
    @include vars.flexbox();
    @include vars.flex-direction(row-reverse);
    min-height: calc(100vh - 92.5px);
    &.last {
      border-bottom: 1px solid vars.$red;
    }
    .textContainer {
      @include vars.flexbox();
      @include vars.flex-direction(column);
      @include vars.justify-content(center);
      transform: translateX(100%);
      opacity: 0;
      width: vars.$six-twelfths;
      p {
        width: vars.$four-twelfths;
      }
    }
    .imageContainer {
      transform: translateX(-100%);
      opacity: 0;
      width: vars.$six-twelfths;
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
    &.alternate {
      @include vars.flex-direction(row);
      .imageContainer {
        transform: translateX(100%);
      }
      .textContainer {
        transform: translateX(-100%);
      }
    }
  }
}
