@import url("https://use.typekit.net/qhd4qnk.css");
@import "./vars";

html,
body {
  @include body-font();
  background-color: $white;
  color: $red;
  margin: 0;
  max-width: 100vw;
  overflow-x: clip;
  padding: 0;
}

a {
  text-decoration: none;
}

.primary-link {
  a {
    color: $red;
    position: relative;
    text-decoration: none;
  }

  a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: $red;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  &.inverse {
    a {
      color: $white;
    }

    a::before {
      background-color: $white;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  drop-shadow: none !important ;
  &:focus-visible {
    display: none;
  }
  &::selection {
    background: $pink;
  }
}

h1,
h2,
h3,
h5 {
  @include header-font();
  margin: 0;
}

h1 {
  @include h1();
}

h2 {
  @include h2();
}

h3 {
  @include h3();
}

h4 {
  @include h4();
  @include subhead-font();
  margin: 0;
}

h5 {
  @include h5();
}

p,
span {
  @include body-font();
  &.body-small {
    @include body-small();
  }
}

.button {
  background-color: $red;
  border-radius: 30px;
  border: 1px solid $red;
  line-height: 1;
  overflow: hidden;
  transition: background-color 0.3s linear;
  width: max-content;
  a {
    @include flexbox();
    @include justify-content(center);
    color: $white;
    height: 100%;
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.3s linear;
    width: 100%;
    span {
      font-size: 12pt !important;
    }
  }
  &:hover {
    background-color: $white;
    cursor: pointer;
    a {
      color: $red;
    }
  }
}

.subtitle {
  color: $red;
  font-size: 12pt !important;
  font-weight: bold !important;
  text-transform: uppercase;
}

.section-padding {
  padding: 100px $one-twenty-fourth;

  &.top-only {
    padding: 100px 0;
  }
}

* {
  box-sizing: border-box;
}

section {
  background-color: $white;
  position: relative;
  z-index: 100;
}

.pop-up {
  display: inline-block;
  background-color: $pink;
  border-radius: 50px;
  font-size: 10pt;
  padding: 10px;
}
